{% extends 'shop/basic.html' %}

{% block title%} Ishan's Cart About Us{% endblock %}
{% block body %}




<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Ishan's Cart!</h1>
      <p>Ishan's Cart Pvt Ltd. is an Indian electronic commerce company based in Pathankot, India. Founded Ishan Sethi in 2020, the company initially focused on book sales, before expanding into other product categories such as consumer electronics, fashion, and lifestyle products.

</p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Happy</h2>
        <p>Enjoy this website and happy shopping on Ishan's cart.</p>
        
      </div>
      <div class="col-md-4">
        <h2>Shop!Shop!Shop!</h2>
        
        
      </div>
      <div class="col-md-4">
        <h2>Welcome!</h2>
        
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>





{% endblock %}